/* Add CSS Styling */
.odd-number {
    background-color: rgb(252, 180, 180);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-2 {
    color: blue;
    font-size: 36px;
}

.cool-number {
    font-size: 24px;
}

#number-4 {
    background-color: rgb(155, 233, 155);
    font-size: 24px;
    font-weight: bold;
}